body{
background-color:#f7fcff;
/*#f3f9fb;*/
/*#EDF2F4;*/
margin-left:4%;
margin-right:4%;
}

li{
display:list-item;

}


tr.chapterrow{
background-color:#99AACC;
color:#000080;
margin-left:-4%;
margin-right:-4%;
font-size:12pt;
font-family:verdana,arial;
font-weight:bold;
margin-bottom:0.1em;
padding-bottom:0.1em;
padding-top:0.1em;
}

tr.modulerow{
background-color:#AACCBB;
/*margin-left:7%;*/
color:#606D79;
font-size:10pt;
font-family:verdana,arial;
font-weight:bold;
margin-bottom:0.4em;
padding-bottom:0.4em;
padding-top:0.4em;
margin-top:0.4em;
}
